<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Weather App</title>

        <link rel="stylesheet" href="style.css">

        <!-- Angular CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body ng-app="weatherApp" ng-controller="mainController" ng-init="getWeather()">
        <div class="center" id="content-div">
            <div id="current-weather-container">
                <div id="current-weather-details-div">
                    <!-- <h3>Enter Location</h3> -->
                    <div id="location-search">
                        <input ng-model="location"/>
                        <!-- <h3 ng-bind="location"></h3> -->

                        <button ng-click="getWeather()">
                            <img src="assets/images/search.png" width="7%"/>
                        </button>
                    </div>
                    

                    <div ng-show="showWeather">
                        <img ng-src="https://openweathermap.org/img/w/{{ currentWeather.icon }}.png" alt="{{ currentWeatherData.description }}" class="big-image">
                        <!-- <img src="assets/images/rain.png"  alt="{{ currentWeatherData.description }}" class="current-image" width="20%"> -->
                        <h2>{{ currentWeather.description }}</h2>
                        <!-- <p>Wind speed {{ currentWeather.wind }}</p>
                        <p>Humidity {{ currentWeather.humidity }}</p> -->
                    </div>
                </div>

                <!-- <div id="current-temperature-div" ng-hide="showWeather">
                    <img src="assets/images/logo.png" width="20%" class="float-right"/>
                </div> -->

                <div id="current-temperature-div" ng-show="showWeather">
                    <!-- correct logo spacing -->
                    <img src="assets/images/logo.png" width="11%" class="float-right"/>
                    <h1 id="current-temperature" >{{ currentWeather.temperature }}°C</h1>
                    <!-- <div>
                        <h2 id="min-max">{{ currentWeather.min }}°C / {{ currentWeather.max }}°C</h2>
                    </div> -->
                    <p id="below-temp-row"><span class="red-text">Wind speed</span> {{ currentWeather.wind }} <span class="red-text">Humidity</span> {{ currentWeather.humidity }}</p>
                    <!-- <p>Humidity {{ currentWeather.humidity }}</p> -->
                </div>
            </div>

            <div ng-show="showWeather">
                <h3>Next Few Forecasts</h3>
                <hr/>
                <ul class="no-bullets">
                    <!-- <li ng-repeat="forecast in weatherFiveDays">
                        {{ forecast.dt_txt }} {{ forecast.main.temp }} {{ forecast.weather[0].description }}
                    </li> -->

                    <li ng-repeat="forecast in weatherNextFour">
                        <div class="next-weather-box">
                            <p>{{ forecast.date }}</p>
                            <p class="red-text">{{ forecast.time }}</p> 
                            <img ng-src="https://openweathermap.org/img/w/{{ forecast.icon }}.png" alt="Weather Icon">
                            <p>{{ forecast.temperature }}°C</p> 
                        </div>
                    </li>
                </ul>    
            </div>
            <i><h2 ng-bind="error" class="red-text"></h2></i>
        </div>
        <script src="main.js"></script>
    </body>
</html>