<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Weather App</title>

    <!-- Angular CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="weatherApp" ng-controller="mainController">
    <h3>Enter Location</h3>
    <input ng-model="location"/>
    <h3 ng-bind="location"></h3>

    <button ng-click="getWeather()">Get Current Weather</button>
    <p ng-bind="weather"></p>
    <p ng-bind="error"></p>
    <script src="main.js"></script>
</body>
</html>