body{
    background-image: url('assets/images/bg_red.png');
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul.no-bullets {
    list-style-type: none;
    justify-content: space-between;
    display: flex;
}

ul.no-bullets li {
    display: inline-block;
}

.content-div {
    background-color: white;
    opacity: 0.7;
    width: 60%;
    padding: 0% 3%;
}

.next-weather-box {
    text-align: center;
}