body{
    background-image: url('assets/images/bg_red.png');
    font-family: sans-serif;
}

h3, h1, h2, h4, h5, h6 {
    font-weight: normal;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul.no-bullets {
    list-style-type: none;
    justify-content: space-between;
    display: flex;
}

ul.no-bullets li {
    display: inline-block;
}

#content-div {
    background-color: white;
    opacity: 0.7;
    width: 60%;
    padding: 1% 3%;
    border-radius: 2em;
    /* display: flex; */
}

.next-weather-box {
    text-align: center;
}

#current-weather-container {
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}


#current-temperature {
    font-size: 5em;
}

#min-max {
    font-size: 2.2em;   
}

input {
    border-width: 0;
    border-bottom-width: 1px;
    font-size: 2em;
    width: 70%;
}

button {
    background-color: white;
    border: none;
    display: inline-flex;
}

button:hover {
    cursor: pointer;
}

#location-search {
    display: flex;
    align-items: center;
}

.red-text {
    color: #fc0635;
}

#below-temp-row {
    font-size: 1em;
    float: right;
}

.float-right {
    display: inline-flex;
    float: right;
}


#current-temperature-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.current-image {
    margin-top: 2em;
}